.recipe-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

iframe {
    width: 100%;
    border: none;
    height: max-content;
}


.button {
    margin: 1rem 0 0 1rem;
    background-color: #89d9d1;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}



h1 {
    color: #4b4f5e;
}

a {
    color: #89d9d1;
}



.recipe-details-container iframe {
    color: #4b4f5e;
}

.image-container {
    background: #bbafaf;
    padding: 2rem;
    border-radius: 5px;
    margin-bottom: 1rem;
}