.App{
  min-height: 100vh;
 background-image: linear-gradient(15deg, #643333 0%, #b28989 100%);
}

.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-basis: 33.333333%;
}